.container {
	display: flex;
	justify-content: space-between;
}

.approaches {
	display: flex;
}

.approach {
	width: 100%;
	margin: 0 15px 0 0;
	border: 1px solid #000000;
	padding: 10px;
	box-sizing: border-box;
}

.title_container {
	display: flex;
}

.title {
	font-weight: 700;
	margin: 0 auto 0 0;
}

.delete {
	align-items: center;
	justify-content: center;
	display: none;
}

.delete:hover {
	text-decoration: underline;
}

.container:hover .delete {
	display: flex;
}