.container {
	width: 100%;
	background: #e7e7e7;
	border: 1px solid #c4c4c4;
	border-radius: 6px;
	min-height: 100px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	margin: 0 0 10px 0;
	box-sizing: border-box;
	padding: 10px;
	cursor: pointer;
}

.container:hover .delete {
	display: block;
}

.datetime {
	margin: 0 auto 0 0;
}

.delete {
	display: none;
	cursor: pointer;
}

.delete:hover {
	text-decoration: underline;
}

.add {
	cursor: pointer;
	margin: 0 0 15px 0;
	font-size: 24px;
	font-weight: 700;
}

.add:hover {
	text-decoration: underline;
}

.training {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.training {
	display: flex;
	align-items: center;
	margin: 0 0 10px 0;
	height: 30px;
	min-height: 30px;
}

.training_title {
	margin: 0 5px 0 0;
}

.description {
	margin: 0 0 10px 0;
}

.approaches {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, 400px);
}