.container {
	width: 100%;
	background: #e7e7e7;
	border: 1px solid #c4c4c4;
	border-radius: 6px;
	min-height: 100px;
	max-height: 200px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	margin: 0 0 10px 0;
	box-sizing: border-box;
	padding: 0 10px;
}

.container:hover .delete {
	display: block;
}

.datetime {
	margin: 0 auto 0 0;
}

.delete {
	display: none;
	cursor: pointer;
}

.delete:hover {
	text-decoration: underline;
}

.parameters {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.parameter {
	display: flex;
	align-items: center;
	margin: 0 10px 0 0;
	height: 30px;
	min-height: 30px;
}

.parameter_title {
	margin: 0 5px 0 0;
}